---
import { Icon } from '@astrojs/starlight/components';
import Sidebar from '../components/sidebar.astro';
---

<main>
    <div class ="flex items-center justify-between">
        <div class="mx-[4rem]">
            <p class="text-[30px]">Laravel</p>
            <div class="space-y-2 !flex">
              <a id="laravel-api-link" class="!text-[20px]" href="/package/package/">Laravel - API</a>
            </div>
            <div class="!mt-2 !flex">
              <a id="learning-astro-link" class="!text-[20px]" href="/laravel/api/start/started/">Learning Astro</a>
            </div>
          </div>

          <img class="w-[30%] h-[50%]" src="../../../../src/assets/houston.webp">

    </div>
  
</main>
