@tailwind base;
@tailwind components;
@tailwind utilities;

.astro-j6tvhyss{
    font-size: 30px !important;
}
h1:where(.astro-j6tvhyss)
{ 
 font-size:30px
 }
 .sl-markdown-content h2{
  font-size:20px   
 }
 .hero:where(.astro-jbfsktt5){

padding: 0 !important;
 }
 .sl-markdown-content{
    font-size: 22px !important;
 }